{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Third Project</title>
</head>
<body>
    <h1>
        This Is my First ever my django Template
    </h1>
    <a href="https://github.com/MDalamin5/Django/">This is another link</a>
    <img src="{% static "image/tree.jpeg" %} " alt="Natural Images">
    <img src="{% static "image/garlic.jpeg" %} " alt="Natural Images">
    <link rel="stylesheet" href="{%static 'css/first.css' %}">
    <h1>Hi</h1>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>